<link rel="stylesheet" href="{{ 'featured-brands.css' | asset_url }}">

<section class="featured-brands-section">
  <div
    class="page-width"
    style="
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    "
  >
    <h2 class="featured-brands-title">{{ section.settings.title }}</h2>
    <div class="brands-grid">
      {%- for block in section.blocks -%}
        <div class="brand-logo">
          <a href="{{ block.settings.brand_link }}" aria-label="{{ block.settings.brand_name }}">
            {% if block.settings.brand_logo != blank %}
              <img
                src="{{ block.settings.brand_logo | img_url: '100x100' }}"
                alt="{{ block.settings.brand_name }}"
                class="feature-icon-image"
                height="100px"
                width="auto">
            {% else %}
              <img
                src="{{ 'brand_logo.svg' | asset_url }}"
                alt="{{ block.settings.brand_name }}"
                class="feature-icon-image"
                height="100px"
                width="auto">
            {% endif %}
          </a>
        </div>
      {%- endfor -%}      
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Brands",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Shop by brand:"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_logo",
          "label": "Brand Logo"
        },
        {
          "type": "text",
          "id": "brand_name",
          "label": "Brand Name"
        },
        {
          "type": "url",
          "id": "brand_link",
          "label": "Brand Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Brands",
      "category": "Custom",
      "blocks": [{ "type": "brand" }, { "type": "brand" }, { "type": "brand" }, { "type": "brand" }, { "type": "brand" }, { "type": "brand" }]
    }
  ]
}
{% endschema %}
